body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  // line-height: 18px;
  // font-family: 'Titan One', cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 73px;
    padding-right: 73px;
  }
}
