body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  // line-height: 18px;
  // font-family: 'Titan One', cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
