/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/reset';

@import './utils/vars';

@import './base/common';

@import './components/mob-menu';
@import './components/container';
@import './components/button';
@import './components/modal-buy';
@import './components/modal-franchise';
@import './components/modal-about';

@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
