$primary-text-color: #000000;
$secondary-text-color: #907e82;
$white-color: #ffffff;
$bg-color: #fff5f6;
$menu-bg-color: #e17992;
$accent-color: #d41443;
$accent-pink-color: #ffb8ca;
$accent-peach-color: #f0d1a5;
$accent-mint-color: #c2e297;
$img-bg-color: #fea5bb;
