<section class="about about__bg-milk">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>

    <!-- див для будущего флекса -->
    <div class="about__container">
      <picture>
        <source
          srcset="./images/about/mob/about-cow.png 1x, ./images/about/mob/about-cow@2x.png 2x"
          media="min-width:320px"
        />
        <img src="./images/about/mob/about-cow.png" alt="cow" />
      </picture>

      <!-- див для будущего флекса -->
      <div class="about__container-1">
        <!-- через :first-child и :last-child не сработало у меня -->
        <p class="about__text about__text-1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>

        <p class="about__text about__text-2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <!-- стили одинаковые только отступ добавлен вместо <br> -->
          <span class="about__text-3"> Aliquam erat volutpat. Aenean accumsan.</span>
        </p>

        <button class="about__btn button button--white">
          Read more
          <svg class="about__icon-btn" width="4" height="8">
            <use href="./images/sprite.svg#icon-more-sign"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
