<section class="advantages">
    <h2 class="visually-hidden">advantages</h2>
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item list">
                <p class="advantages__bold-text">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item list">
                <p class="advantages__bold-text">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item list">
                <p class="advantages__bold-text">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>