<section class="contacts"
         id="contacts">
   <div class="container contacts__container">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="contacts__list list">
         <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <h3 class="contacts__subtitle">Chicago</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <ul class="contacts__days list">
               <li class="contacts__workdays">Monday - Friday</li>
               <li class="contacts__time">06:00 AM - 10:00 PM</li>
               <li class="contacts__workdays">Saturday - Sunday</li>
               <li class="contacts__time">08:00 AM - 16:00 PM</li>
            </ul>

            <ul class="contacts__connection list">
               <li class="contacts__communication">
                  <a href="tel:+61(0)383766284"
                     class="contacts__link link">+61(0) 383 766 284</a>
               </li>
               <li class="contacts__communication">
                  <a href="mailto:noreply@envato.com"
                     class="contacts__link link">noreply@envato.com</a>
               </li>
            </ul>
         </li>

         <li class="contacts__item">
            <p class="contacts__title contacts__title--mint">FOODTRUCK</p>
            <h3 class="contacts__subtitle">Los Angeles</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <ul class="contacts__days list">
               <li class="contacts__workdays">Monday - Friday</li>
               <li class="contacts__time">06:00 AM - 10:00 PM</li>
               <li class="contacts__workdays">Saturday - Sunday</li>
               <li class="contacts__time">08:00 AM - 16:00 PM</li>
            </ul>

            <ul class="contacts__connection list">
               <li class="contacts__communication">
                  <a href="tel:+61(0)383766284"
                     class="contacts__link link">+61(0) 383 766 284</a>
               </li>
               <li class="contacts__communication">
                  <a href="mailto:noreply@envato.com"
                     class="contacts__link link">noreply@envato.com</a>
               </li>
            </ul>
         </li>

         <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <h3 class="contacts__subtitle">New York</h3>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <ul class="contacts__days list">
               <li class="contacts__workdays">Monday - Friday</li>
               <li class="contacts__time">06:00 AM - 10:00 PM</li>
               <li class="contacts__workdays">Saturday - Sunday</li>
               <li class="contacts__time">08:00 AM - 16:00 PM</li>
            </ul>

            <ul class="contacts__connection list">
               <li class="contacts__communication">
                  <a href="tel:+61(0)383766284"
                     class="contacts__link link">+61(0) 383 766 284</a>
               </li>
               <li class="contacts__communication">
                  <a href="mailto:noreply@envato.com"
                     class="contacts__link link">noreply@envato.com</a>
               </li>
            </ul>
         </li>
      </ul>

      <div class="contacts__button-wrap">
         <button class="button button__location button--red button__buy"
                 type="button">
            <a href="https://www.google.com.ua/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@42.7287734,-78.0133914,7z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x4ccc4bf0f123a5a9:0xddcfc6c1de189567!8m2!3d42.8920642!4d-76.003418?hl=ru"
               class="button__location--white link"
               target="blank"
               rel="noopener noreferrer">
               <span class="button__text button__text--mr">Our Locations
               </span>
               <svg class="button__svg icon-more-sign">
                  <use href="./images/sprite.svg#icon-more-sign-white"></use>
               </svg>
            </a>
         </button>

         <button class="button button__franchise button--white" data-modal-open>
            <span class="button__text button__text--mr">Franchise
            </span>
            <svg class="button__svg icon-more-sign">
               <use href="./images/sprite.svg#icon-more-sign"></use>
            </svg>
         </button>
      </div>
   </div>
</section>