<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="grid">
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-1"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-2"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-3"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-4"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-5"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-6"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-7"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-8"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-9"></use></svg>
    </div>
    <div class="grid__item">
      <svg><use href=".images/ice-cream.svg#icon-ice-cream-10"></use></svg>
    </div>
  </div>
</section>
