<button type="button" style="width: 100px; height: 20px" class="btn-menu js-open-menu"></button>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius distinctio dolorum doloremque
  voluptates a consequatur sapiente quia eum rerum? Velit ipsam facere et iste eaque reprehenderit
  eos facilis! Quos, voluptatum.
</div>
<div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure aperiam illo excepturi odit amet!
  Dolorem sequi voluptas corporis reprehenderit inventore ratione, vero nesciunt dolores earum saepe
  et nobis aliquid sed! Nemo asperiores optio delectus maxime aliquid vel incidunt hic dolore,
  necessitatibus iste voluptatem quasi eligendi ipsum et eius nobis impedit illum accusantium porro
  velit, ullam nesciunt, architecto totam? Itaque aspernatur, iusto dolor ad ea unde, quis repellat
  quae cumque aliquam voluptatem vero rem! Quod, voluptatibus veniam. Explicabo, libero qui ab quas
  minima commodi ex optio? Repellat voluptatibus possimus eos quisquam in ipsam eaque voluptas
  eligendi, laborum hic odit aspernatur mollitia.
</div>
