<header class="page-header">
  <div class="container container__header">
    <a href="./" class="logo__link">
      <img
        srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
        src="./images/logo.png"
        alt="ice cream logo"
        class="logo__img"
      />
    </a>

    <nav class="page-nav">
      <ul class="page-nav__list">
        <li class="page-nav__item">
          
          <a href="#hero-anchor" class="page-nav__link page-nav__link--current">Home</a>
        </li>
        <li class="page-nav__item">
          
          <a href="#reviews-anchor" class="page-nav__link">About us</a>
        </li>
        <li class="page-nav__item">
          
          <a href="#made-anchor" class="page-nav__link">How it’s made?</a>
        </li>
        <li class="page-nav__item">

          <a href="#products-anchor" class="page-nav__link">Our products</a>
        </li>
        <li class="page-nav__item">
          
          <a href="#contacts-anchor" class="page-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="button button__burger js-open-menu" type="button">
      <span class="visually-hidden">Burger menu</span>
      <svg class="button__svg icon-menu">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <button class="button button__buy button--white" type="button" data-modal-open>
      <span class="button__text button__text--mr">Buy now</span>
      <svg class="button__svg icon-more-sign">
        <use href="./images/sprite.svg#icon-more-sign"></use>
      </svg>
    </button>
  </div>
</header>
