<section id="hero-anchor" class="hero">
  <div class="container hero__container">
    <div class="hero__thumb">
      <picture class="hero-image">
        <source
          srcset="
            ./images/hero/desktop/hero-ice-cream-desktop.png    1x,
            ./images/hero/desktop/hero-ice-cream-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/tab/hero-ice-cream-tab.png    1x,
            ./images/hero/tab/hero-ice-cream-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          srcset="
            ./images/hero/mob/hero-ice-cream.png   1x,
            /images/hero/mob/hero-ice-cream@2x.png 2x
          "
          src="./images/hero/mob/hero-ice-cream.png"
          alt="ice-cream"
          width="171"
          height="410"
          class="hero-image__item"
        />
      </picture>
    </div>
    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__list list">
        <li class="hero__item">
          <a href="#products-anchor" class="link hero__link hero__link--products">Products</a>
        </li>
        <li class="hero__item">
          <a href="#made-anchor" class="link hero__link hero__link--how">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero-milk">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-milk-desktop.png    1x,
            ./images/hero/desktop/hero-milk-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <img
          srcset="./images/hero/tab/hero-milk-tab.png 1x, ./images/hero/tab/hero-milk-tab@2x.png 2x"
          src="./images/hero/tab/hero-milk-tab.png"
          alt="milk"
          width="124"
          height="126"
          class="hero-milk__image"
        />
      </picture>
      <div class="hero-milk__description">
        <p class="hero-milk__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="hero-milk__link link">
          <svg class="hero-milk__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-counter">
      <div class="hero-counter-child">
        <p class="hero-counter__number">16</p>
        <p class="hero-counter__text">cafes</p>
      </div>
      <div class="hero-counter-child">
        <p class="hero-counter__number">23</p>
        <p class="hero-counter__text">food trucs</p>
      </div>
    </div>
    <div class="hero-girl">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-girl-desktop.png    1x,
            ./images/hero/desktop/hero-girl-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <img
          srcset="./images/hero/tab/hero-girl-tab.png 1x, ./images/hero/tab/hero-girl-tab@2x.png 2x"
          src="./images/hero/tab/hero-girl-tab.png"
          alt="girl lick ice-cream"
          width="168"
          height="133"
          class="hero-girl__image"
        />
      </picture>
    </div>
  </div>
</section>
