<div class="menu js-menu-container">
  <div>
    <button type="button" class="btn-close js-close-menu">
      <svg class="btn-close__icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button type="button" class="button menu__button button--white" data-mobil-open>
      <span class="button__text">Buy now</span>

      <svg width="8" height="10">
        <use href="./images/sprite.svg#icon-more-sign"></use>
      </svg>
    </button>
    <nav>
      <ul class="site-nav list">
        <li class="site-nav__list">
          <a href="" class="site-nav__link link site-nav__link--active">Home</a>
        </li>
        <li class="site-nav__list"><a href="" class="site-nav__link link">About us</a></li>
        <li class="site-nav__list"><a href="" class="site-nav__link link">How it’s made?</a></li>
        <li class="site-nav__list"><a href="" class="site-nav__link link">Our products</a></li>
        <li class="site-nav__list"><a href="" class="site-nav__link link">Contact</a></li>
      </ul>
    </nav>

    <div></div>
  </div>
</div>
