<div class="backdrop is-hidden" data-mobil>
    <div class="modal">
      <form class="modal-form">

            <p class="modal-form__title">ICECREAM</p>
        <div class="modal-form__container">
            
            <label class="modal-label">Name
                <input class="modal-label__input" type="text">
            </label>
            
            <label class="modal-label">Phone
                <input class="modal-label__input" type="tel">
            </label>
            
            <label class="modal-label">Email
                <input class="modal-label__input" type="email">
            </label>
            
            <label class="modal-label">
                <textarea class="modal-label__text"  rows="10"></textarea>
            </label>
        </div>
        <div>
            <label class="modal-label-check">
               <input  class="modal-check__input visually-hidden"  type="checkbox">
               ice  cream
               <span>
               </span>
               many
            <input class="modal-number" 
            type="number" name="height" 
            min="0" max="200" 
            step="1" value="0" />

               <!-- <input  class="modal-check__input modal-range"
                type="range"
                value="1"
                min="1"
                max="100"
                step="1" >
                <p class="modal-range__many">how many <span class="js-number">1</span></p>   -->
            </label>

            <label class="modal-label-check">
                <input  class="modal-check__input visually-hidden"  
                type="checkbox" 
                id="coffee">
                 ice  coffee
                <span>
                </span>
                many
                <input class="modal-number" 
                type="number" 
                name="height" id="coffee"
                min="0" max="200" 
                step="1" value="0" />
             </label>

             <label class="modal-label-check">
                <input  class="modal-check__input visually-hidden"  type="checkbox">
                milkshakes
                <span>
                </span>
                many
                <input class="modal-number" 
                type="number" 
                name="height" 
                min="0" max="200" step="1" value="0" />
               
             </label>
            </div>

            <label class="modal-check">
            <input class="modal-check__input visually-hidden" type="checkbox">
            <span>
            </span>
            I agree to the newsletter and accept <a href="" class="modal-check__terms">Terms of an agreement</a>           
            </label>
        
            <button  class="button modal-button ">Отправить</button>
      </form>
      <button class="modal-close button--white" data-mobil-close>
        X
      </button>
    </div>
  </div>