<div class="backdrop is-hidden" data-franchise-modal>
    <div class="modal-frn">
        <form class="modal-frn-form">

            <p class="modal-frn-form__title">Franchise</p>
            <div class="modal-form__container">

                <label class="modal-frn-label">Name
                    <input class="modal-frn-label__input" type="text" placeholder="John Connor">
                </label>

                <label class="modal-frn-label">Phone
                    <input class="modal-frn-label__input" type="tel" placeholder="+61(0) 383 766 284">
                </label>

                <label class="modal-frn-label">Email
                    <input class="modal-frn-label__input" type="email" placeholder="noreply@envato.com">
                </label>

                <label class="modal-frn-label">
                    <textarea class="modal-frn-label__text" rows="10" 
                    placeholder="Description"></textarea>
                </label>
            </div>
            <ul class="modal-frn-chek-box">
            <label class="modal-frn-check">
                <input class="modal-check__input visually-hidden" type="checkbox">
                <span>
                </span>
                I agree to the newsletter and accept <a href="" class="modal-frn-check__terms">Terms of an agreement</a>
            </label>
            
            <label class="modal-frn-check">
                <input class="modal-check__input visually-hidden" type="checkbox">
                <span>
                </span>
                I want callback 
            </label>
            </ul>
            <button class="button modal-frn-button button--white">Send</button>
        </form>
        <button class="modal-frn-close button--white" data-modal-close>
            X
        </button>
    </div>
</div>