<div class="backdrop is-hidde" data-modal>
    <div class="modal">
        <form class="modal-form">

            <p class="modal-form__title">Franchise</p>
            <!-- <div class="modal-form__container">

                <label class="modal-label">Name
                    <input class="modal-label__input" type="text">
                </label>

                <label class="modal-label">Phone
                    <input class="modal-label__input" type="tel">
                </label>

                <label class="modal-label">Email
                    <input class="modal-label__input" type="email">
                </label>

                <label class="modal-label">
                    <textarea class="modal-label__text" rows="10"></textarea>
                </label>
            </div> -->

            <!-- <label class="modal-check">
                <input class="modal-check__input visually-hidden" type="checkbox">
                <span>
                </span>
                I agree to the newsletter and accept <a href="" class="modal-check__terms">Terms of an agreement</a>
            </label>

            <button class="button modal-button ">Отправить</button>
        </form> -->
        <button class="modal-close button--white" data-modal-close>
            X
        </button>
    </div>
</div>