<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 id="products-anchor" class="products__title">products</h2>
    <ul class="products__card">
      <li class="products__list products__list--pink products__list--ice-cream">
        <h3 class="products__name">ice cream</h3>
        <ul class="products__points">
          <li class="products__point list"></li>
          <li class="products__point list"></li>
          <li class="products__point list"></li>
        </ul>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="15px" height="15px">
            <use href="./images/sprite.svg#icon-arrow-right" class="products__icon"></use>
          </svg>
        </button>
      </li>

      <li class="products__list products__list--peach products__list--ice-coffee">
        <h3 class="products__name">ice coffee</h3>

        <ul class="products__points">
          <li class="products__point list"></li>
          <li class="products__point list"></li>
          <li class="products__point list"></li>
        </ul>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="15px" height="15px">
            <use href="./images/sprite.svg#icon-arrow-right" class="products__icon"></use>
          </svg>
        </button>
      </li>
      <li class="products__list products__list--mint products__list--milkshakes">
        <h3 class="products__name">milkshakes</h3>
        <ul class="products__points">
          <li class="products__point list"></li>
          <li class="products__point list"></li>
          <li class="products__point list"></li>
        </ul>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="15px" height="15px">
            <use href="./images/sprite.svg#icon-arrow-right" class="products__icon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
