<section class="products">
  <div class="container">
    <p class="products__title-label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="40px" height="40px">
            <use href="./images/sprite.svg#icon-arrow-right" class=""></use>
          </svg>
        </button>
      </li>
      <li class="products__card">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="40px" height="40px">
            <use href="./images/sprite.svg#icon-arrow-right" class=""></use>
          </svg>
        </button>
      </li>
      <li class="products__card">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
          aliqua facilisis.
        </p>
        <button class="products__button">
          <svg width="40px" height="40px">
            <use href="./images/sprite.svg#icon-arrow-right" class=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
