<section class="reviews">
  <div class="container">
    <h2 id="reviews-anchor" class="visually-hidden">Reviews</h2>

    <div class="swiper-block">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <picture>
                <img
                  srcset="
                    ./images/reviews/reviews-people-1.png    1x,
                    ./images/reviews/reviews-people-1@2x.png 2x
                  "
                  src="./images/reviews/reviews-people-1.png"
                  alt="Девушка с черными волосами"
                  class="reviews__image"
                />
              </picture>
              <div class="reviews__quotes">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="reviews__gradient"></div>
              </div>
              <div class="reviews__person--info">
                <div class="reviews__decorations">
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                </div>
                <p class="reviews__address">Emily, Los Angeles</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <picture>
                <img
                  srcset="
                    ./images/reviews/reviews-people-1.png    1x,
                    ./images/reviews/reviews-people-1@2x.png 2x
                  "
                  src="./images/reviews/reviews-people-1.png"
                  alt="Девушка с черными волосами"
                  class="reviews__image"
                />
              </picture>
              <div class="reviews__quotes">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="reviews__gradient"></div>
              </div>
              <div class="reviews__person--info">
                <div class="reviews__decorations">
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                </div>
                <p class="reviews__address">Emily, Los Angeles</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <picture>
                <img
                  srcset="
                    ./images/reviews/reviews-people-1.png    1x,
                    ./images/reviews/reviews-people-1@2x.png 2x
                  "
                  src="./images/reviews/reviews-people-1.png"
                  alt="Девушка с черными волосами"
                  class="reviews__image"
                />
              </picture>
              <div class="reviews__quotes">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="reviews__gradient"></div>
              </div>
              <div class="reviews__person--info">
                <div class="reviews__decorations">
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                </div>
                <p class="reviews__address">Emily, Los Angeles</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
