.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 23px;
  padding-bottom: 50px;
  height: 100vh;
  z-index: 999;

  background-color: $menu-bg-color;

  transform: translateX(100%);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @media screen and (max-width: 767px) {
    width: 250px;
  }
  @media screen and (min-width: 768px) {
    width: 254px;
    height: 100%;
  }
  @media screen and (min-width: 1280px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.menu.is-open {
  transform: translateX(0);
}
.button__burger {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  &.is-close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.btn-close {
  margin-left: auto;
  margin-right: 28px;
  margin-bottom: 23px;
  display: block;

  cursor: pointer;
  background: none;
  border: none;
  @media screen and (min-width: 768px) {
    margin-right: 34px;
  }
}

.btn-close__icon {
  stroke: $white-color;

  .btn-close:hover &,
  .btn-close:focus & {
    stroke: $accent-color;
  }
}

.menu__button {
  width: 209px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.site-nav__list {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}
.site-nav__link {
  display: block;
  padding: 12px 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $white-color;

  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &--active {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }
}
.button__text {
  margin-top: -3px;
  margin-right: 26px;
}
