.modal-location {
  position: relative;
  width: 680px;
  min-height: 590px;
  border-radius: 10px;
  background-color: #ffb8ca;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-location-form {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  &__title {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d41443;
    background-color: #ffa5ba;
    border-radius: 20px;
    font-family: Titan One;
    line-height: 1.13;
    text-align: center;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.modal-location-close {
  display: flex;
  position: absolute;
  top: 2%;
  left: 95%;
  border-radius: 100%;
  border: 1px solid #d41443;
}
