.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background: $bg-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}
.about__bg-milk {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url(../images/about/mob/bg-about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 88%;
  }

  // @media screen and (min-width: 1280px) {
  //   background-image: url(../images/about/---/bg-about.png);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   background-position-y: 88%;
  // }
}
.about__label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  //   цвета нет
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }
}
.about__title {
  margin-bottom: 26px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}
.about__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.about__img {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 46px;
  }
}
.about__description {
  padding: 0 30px;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin-left: 17px;
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 74px;
    width: 463px;
  }
}
.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }

  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
  }
}
.about__text:first-child {
  margin-bottom: 30px;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 35px;
  }
}
.about__text:nth-child(1n + 2) {
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.9;
  }
}
.about__text:nth-child(2) {
  margin-bottom: 10px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 30px;
  }
}
.about__text:nth-child(3) {
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}
.about__btn {
  width: 176px;
  height: 44px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 22px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
  }
}
.about__btn-text {
  margin-top: -3px;
  margin-right: 18px;
}
