footer {
  background-color: #fff5f6;
  padding-top: 113px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

// .footer__text {
//   display: flex;
//   //   flex-direction: column;
// }

.footer__text--top {
  font-family: Titan One, sans-serif;
  color: #ffa5ba;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17px;
  text-transform: uppercase;
  width: 232px;
  height: 100%;
}

.footer__text--red {
  font-family: Titan One, sans-serif;
  color: #d41443;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  height: 100%;
}

.footer__list {
  display: flex;
  justify-content: right;
  align-items: center;

  margin-top: 43px;

  list-style: none;
  padding: 0;
  marker: none;
}

.footer__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.footer__link {
  font-family: DM Sans, sans-serif;
  color: #d41443;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: #d41443;
  }
}

.footer__soc-icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
}
.footer__text-contact {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;

  margin-top: 46px;
}

.footer__bottom {
  border-top: 1px solid #e1e1e1;

  margin-top: 43px;
}
.footer__bottom-text {
  font-family: DM Sans;
  color: #907e82;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  margin-top: 22px;
}
