.hero {
  width: 100%;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  height: 502px;

   @media screen and (min-width: 768px) {
    height: 399px;
  }

  @media screen and (min-width: 1280px) {
    height: 655px;
  }
}

.hero__container {
  position: relative;
}

.hero__title {
  margin-bottom: 19px;
  width: 218px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  font-size: 26px;
  line-height: 1.16;
  text-shadow: none;
  width: 218px;
  margin-bottom: 19px;

  // @media screen and (min-width: 320px) {
  //   font-size: 26px;
  //   line-height: 1.16;
  //   text-shadow: none;
  //   width: 218px;
  //   margin-bottom: 19px;
  // }

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    text-shadow: none;
    width: 162px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
    width: 277px;
    margin-bottom: 25px;
  }
}
//   .hero__title--accent {
//     line-height: 0.91;
//     color: $accent-color;

//     @media screen and (min-width: 768px) {
//       font-size: 34px;
//       line-height: 0.91;
//     }
//     @media screen and (min-width: 1280px) {
//       font-size: 58px;
//       line-height: 0.91;
//     }
//   }
// }

.hero__title--accent {
  line-height: 0.91;
  color: $accent-color;
  font-size: 48px;

  // @media screen and (min-width: 320px) {
  //   font-size: 40px;
  // }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.91;
  }
}

.hero__thumb {
  background-color: $img-bg-color;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  width: 344px;
  height: 346px;
  top: 83px;


  @media screen and (max-width: 417px) {
    left: 36px;
  }
  @media screen and (min-width: 418px) {
    right: 36px;
  }

  @media screen and (min-width: 768px) {
    top: 31px;
    right: 143px;
    width: 324px;
    height: 322px;
  }

  @media screen and (min-width: 1280px) {
    top: 52px;
    right: 221px;
    width: 538px;
    height: 538px;
  }
}

.hero-image__item {
  width: 170px;
  height: 410px;
  // @media screen and (min-width: 320px) {
  //   width: 170px;
  //   height: 410px;
  // }
  @media screen and (min-width: 768px) {
    height: 336px;
    width: 143px;
  }
  @media screen and (min-width: 1280px) {
    height: 557px;
    width: 236px;
  }
}

.hero-image {
  position: absolute;
  @media screen and (min-width: 320px) {
    top: 9px;
    right: 94px;
    height: 410px;
  }
  @media screen and (min-width: 768px) {
    top: 32px;
    left: 71px;
    height: 336px;
    width: 143px;
  }
  @media screen and (min-width: 1280px) {
    top: 56px;
    left: 119px;
    height: 557px;
    width: 236px;
  }
}

.hero__content {
  position: absolute;
  left: 20px;
  top: 137px;

  @media screen and (min-width: 768px) {
    top: 102px;
    left: 34px;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    left: 115px;
  }
}

.hero__list {
  display: flex;
}

.hero__item {
  &:not(:last-child) {
    margin-right: 8px;
    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
}

.hero__link {
  border-radius: 20px;
  font-weight: normal;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;

  &--products {
    color: $white-color;
    background-color: $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #c7133e;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &--how {
    color: $accent-color;
    background-color: $white-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #ecebeb;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (min-width: 320px) {
    height: 24px;
    font-size: 8px;
    &--products {
      width: 62px;
    }
    &--how {
      width: 93px;
    }
  }

  @media screen and (min-width: 768px) {
    height: 24px;
    font-size: 8px;
    &--products {
      width: 62px;
    }
    &--how {
      width: 93px;
    }
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    font-size: 14px;
    &--products {
      width: 104px;
    }
    &--how {
      width: 138px;
    }
  }
}

.hero-milk {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 245px;
    left: 34px;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    top: 429px;
    left: 77px;
  }
}

.hero-milk__image {
  @media screen and (min-width: 768px) {
    width: 124px;
    height: 126px;
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
    height: 191px;
  }
}

.hero-milk__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-milk__text {
  @media screen and (min-width: 768px) {
    font-weight: normal;
    color: $white-color;
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;
  }
  @media screen and (min-width: 1280px) {
    font-weight: normal;
    color: $white-color;
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.hero-milk__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $white-color;
  }
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: $white-color;
  }
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: $white-color;
  }
}

.hero-milk__icon {
  @media screen and (min-width: 768px) {
    fill: currentColor;
    width: 7px;
    height: 7px;
  }
  @media screen and (min-width: 1280px) {
    fill: currentColor;
    width: 10px;
    height: 10px;
  }
}
.hero-counter {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 97px;
    right: 44px;
  }
  @media screen and (min-width: 1280px) {
    top: 160px;
    right: 115px;
  }
}

.hero-counter__first {
  margin-bottom: 15px;
}

.hero-counter__number {
  position: relative;
  font-family: Titan One;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  justify-content: right;
  z-index: 0;
  color: $accent-color;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
  &::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white-color;
    right: -9px;
    top: -2px;
    z-index: -10;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      right: -20px;
      top: -2px;
    }
  }
}

.hero-counter__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: $white-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.5;
  }
}

.hero-girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 266px;
    right: 34px;
  }
  @media screen and (min-width: 1280px) {
    top: 423px;
    right: 109px;
  }
}

.hero-girl__image {
  width: 168px;
  height: 133px;
  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
  }
}
