.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__label {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;

  text-transform: uppercase;
  color: $img-bg-color;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
}

.products__card {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products__list {
  width: 280px;
  height: 485px;
  border-radius: 24px;

  margin-left: auto;
  margin-right: auto;

  list-style: none;

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }

  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
  }
  &--ice-cream::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-ice-cream.png');
    display: block;
    transform: translateY(-113px);
    margin-bottom: -91px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/products-ice-cream@2x.png');
    }

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 226px;
      background-image: url('../images/products/tab/products-ice-cream-tab.png');
      transform: translateY(-107px);
      margin-bottom: -76px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/products-ice-cream-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 335px;
      height: 335px;
      background-image: url('../images/products/desktop/products-ice-cream-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/products-ice-cream-desktop@2x.png');
      }
    }
  }
  &--ice-coffee::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-coffee.png');
    display: block;
    transform: translateY(-113px);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: -91px;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/products-coffee@2x.png');
    }

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 233px;
      background-image: url('../images/products/tab/products-coffee-tab.png');
      transform: translateY(-112px);
      margin-bottom: -83px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/products-coffee-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 337px;
      height: 335px;
      background-image: url('../images/products/desktop/products-coffee-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/products-coffee-desktop@2x.png');
      }
    }
  }

  &--milkshakes::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-milkshake.png');
    display: block;
    transform: translateY(-113px);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: -91px;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/products-milkshake@2x.png');
    }

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 224px;
      background-image: url('../images/products/tab/products-milkshake-tab.png');
      transform: translateY(-102px);
      margin-bottom: -74px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/products-milkshake-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 335px;
      height: 335px;
      background-image: url('../images/products/desktop/products-milkshake-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/products-milkshake-desktop@2x.png');
      }
    }
  }
}

.products__list--pink {
  &:focus,
  &:hover {
    box-shadow: 0px 3px 3px $img-bg-color, 0px 4px 4px $img-bg-color, 1px 4px 6px $img-bg-color;
  }
  position: relative;
  &::after {
    display: none;
    color: transparent;
    z-index: 1;
    content: '';
    position: absolute;
    top: -110px;
    left: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $white-color;
    transition: display 5000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @media screen and (min-width: 1280px) {
    &::after {
      top: -200px;
      left: 170px;
    }
  }
  &:hover::after {
    display: block;
  }
}
.products__list--peach {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 3px 3px $accent-peach-color, 0px 4px 4px $accent-peach-color,
      1px 4px 6px $accent-peach-color;
  }
  position: relative;
  &::after {
    color: transparent;
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: $accent-peach-color;
    transform-origin: left bottom;
    transition: transform 5000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    transform: scaleY(0.7);
  }
}

.products__list--mint {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 3px 3px $accent-mint-color, 0px 4px 4px $accent-mint-color,
      1px 4px 6px $accent-mint-color;
  }
  position: relative;
  &::after {
    color: transparent;
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: $accent-mint-color;
    transform-origin: left bottom;
    transition: transform 5000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    transform: scaleY(0.7);
  }
}

.products__list:not(:last-child) {
  margin-bottom: 130px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 29px;
  }
}

.products__name {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__list--pink {
  background: $accent-pink-color;
}

.products__points {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.products__point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $white-color;
}

.products__point:not(:last-child) {
  margin-right: 4px;
}

.products__description {
  width: 200px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: $white-color;

  @media screen and (min-width: 768px) {
    width: 198px;
    height: 124px;
    line-height: 1.76;
    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    width: 241px;
    height: 106px;
    font-size: 16px;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: $white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  cursor: pointer;
  margin: 0 auto 41px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $bg-color-btn;
    color: $white-color;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto 40px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 auto 50px;
  }
}

.products__icon {
  fill: currentColor;
}
