.products {
  margin-top: 121px;
  margin-bottom: 98px;

  @media screen and (min-width: 768px) {
    margin-top: 122px;
    margin-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 127px;
    margin-bottom: 119px;
  }
}

.products__label {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;

  text-transform: uppercase;
  color: #ffa5ba;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    font-size: 48px;

    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;

    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
}

.products__card {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products__list {
  width: 280px;
  height: 485px;
  border-radius: 24px;

  margin-left: auto;
  margin-right: auto;

  list-style: none;

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }

  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
  }
}

.products__list--pink {
  background: $accent-pink-color;
}

.products__list--peach {
  background: $accent-peach-color;
}

.products__list--mint {
  background: $accent-mint-color;
}

.products__list:not(:last-child) {
  margin-bottom: 130px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 29px;
  }
}

.products__name {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }

  &--ice-cream::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-ice-cream.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-113px);
    margin-bottom: -91px;

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 226px;
      background-image: url('../images/products/tab/products-ice-cream-tab.png');
      transform: translateY(-107px);
      margin-bottom: -76px;
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 335px;
      height: 335px;
      background-image: url('../images/products/desktop/products-ice-cream-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
    }
  }

  &--ice-coffee::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-coffee.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-113px);
    margin-bottom: -91px;

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 233px;
      background-image: url('../images/products/tab/products-coffee-tab.png');
      transform: translateY(-112px);
      margin-bottom: -83px;
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 337px;
      height: 335px;
      background-image: url('../images/products/desktop/products-coffee-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
    }
  }

  &--milkshakes::before {
    content: '';
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mob/products-milkshake.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-113px);
    margin-bottom: -91px;

    @media screen and (min-width: 768px) {
      content: '';
      width: 220px;
      height: 224px;
      background-image: url('../images/products/tab/products-milkshake-tab.png');
      transform: translateY(-102px);
      margin-bottom: -74px;
    }

    @media screen and (min-width: 1280px) {
      content: '';
      width: 335px;
      height: 335px;
      background-image: url('../images/products/desktop/products-milkshake-desktop.png');
      transform: translateY(-210px);
      margin-bottom: -163px;
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__name--ice-cream::before {
    background-image: url('../images/products/mob/products-ice-cream@2x.png');

    @media screen and (min-width: 768px) {
      background-image: url('../images/products/tab/products-ice-cream-tab@2x.png');
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/products/desktop/products-ice-cream-desktop@2x.png');
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__name--ice-coffee::before {
    background-image: url('../images/products/mob/products-coffee@2x.png');

    @media screen and (min-width: 768px) {
      background-image: url('../images/products/tab/products-coffee-tab@2x.png');
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/products/desktop/products-coffee-desktop@2x.png');
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__name--milkshakes::before {
    background-image: url('../images/products/mob/products-milkshake@2x.png');

    @media screen and (min-width: 768px) {
      background-image: url('../images/products/tab/products-milkshake-tab@2x.png');
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/products/desktop/products-milkshake-desktop@2x.png');
    }
  }
}

.products__points {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.products__point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $white-color;
}

.products__point:not(:last-child) {
  margin-right: 4px;
}

.products__description {
  width: 200px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;

  color: $white-color;

  @media screen and (min-width: 768px) {
    width: 198px;
    height: 124px;
    line-height: 1.76;
    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    width: 241px;
    height: 106px;
    font-size: 16px;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: $white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
  color: $accent-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #c7133e;
    color: $white-color;
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }
}

.products__icon {
  fill: currentColor;
}
